 {% extends "base.html" %}  
 {% block content %}
<marquee behavior="" direction="" onmouseover="stop()" onmouseout="start()">
    {% for n in newsdata %}
        {{n.news_title}} : {{n.news_desc | safe}}
    {% endfor %}
</marquee>
 
<a href="{% url 'aboutus' %}">About us</a>

   <h4 class="chnagecolor">Course List</h4>
    <ul class="{% if request.path == '/home/' %}active{% endif %}">
        {% for n in clist %}
        <li>{{clist}} : {{n}}</li>
        {% endfor %}
    </ul>

    <h5>Student list</h5>
    <ol>
        {% if studentlist|length > 0 %}
            {% for n in studentlist %}
                {% if n.name == "Shubham" %}
                <li>Name : {{n.name}} Ph No: {{n.phone}} </li>
                {% endif %}
            {% endfor %}
        {% else %}
            No Data Found!
        {% endif %}
    </ol>
    {% for n in services %}
    <li>Service Icon: {{n.service_icon}}, Service Title: {{n.service_title}}</li>
    <li>Service Description: {{n.service_desc}}</li>
    {% endfor %}

    {% if services.has_previous%}
    <a href="/home?page=1">First</a>
    <a href="/home?page={{services.previous_page_number}}">Previous</a>
    {% endif %}
    
    {% for n in totalPageList%}
    <a href="/home?page={{n}}">{{n}}</a>
    {% endfor %}
    

    {% if services.has_next%}
    <a href="/home?page={{lastpage}}">Last</a>
    <a href="/home?page={{services.next_page_number}}">Next</a>
    {% endif %}
    {% endblock content %}