 {% extends "base.html" %}  
 {% block content %}

 
<a href="{% url 'aboutus' %}">About us</a>

   <h4 class="chnagecolor">Course List</h4>
    <ul class="{% if request.path == '/home/' %}active{% endif %}">
        {% for n in clist %}
        <li>{{clist}} : {{n}}</li>
        {% endfor %}
    </ul>

    <h5>Student list</h5>
    <ol>
        {% if studentlist|length > 0 %}
            {% for n in studentlist %}
                {% if n.name == "Shubham" %}
                <li>Name : {{n.name}} Ph No: {{n.phone}} </li>
                {% endif %}
            {% endfor %}
        {% else %}
            No Data Found!
        {% endif %}
    </ol>

    {% endblock content %}