<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h3 style="background-color: brown;">Hello World! Django Tutorials</h3>
    <h4>Hello {{username}}</h4>
    <h4>Course List</h4>
    <ul>
        {% for n in clist %}
        <li>{{clist}} : {{n}}</li>
        {% endfor %}
    </ul>

    <h5>Student list</h5>
    <ol>
        {% for n in studentlist %}
        <li>Name : {{n.name}} Ph No: {{n.phone}} </li>
        {% endfor %}
    </ol>
    
</body>
</html>